/* utility classes */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.fl {
  float: left;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* /utility classes */

.header-img {
  width: 900px;
  height: 400px;
  background: url(../img/sfondo.png);
  background-size: cover;
  z-index: 5;
  position: absolute;
  bottom: 0;
  right: 0
}

.box-header {
  background: #15317E;
  height: 500px;
  width: 100%;
  position: relative;
}

.nav-bar {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 60px;
}

.nav-bar ul {
  display: inline-block;
  text-decoration: none;
}
.nav-bar ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px;
  font-size: 10px;
  color: #fff
}

a {
  text-decoration: none;
  color: #fff
}

li a:hover {
  color: green
}

.nav-bar img {
  padding-right: 60px
}

.first-button {
  background: none;
  padding: 5px 30px;
  color: #fff;
  font-size: 10px;
  border-radius: 6px;
  border: 1px solid #fff
}

.second-button {
  background: #7FE817;
  padding: 5px 7px;
  color: #fff;
  font-size: 10px;
  border-radius: 6px;
  border: 1px solid #7FE817
}

.header-text {
  color: #fff;
  font-size: 40px;
  width: 500px;
  text-align: left;
  margin: 100px 35px;
  font-family: "Open Sans"
}

.third-button {
  background: #7FE817;
  padding: 12px 9px;
  color: #fff;
  font-size: 10px;
  border-radius: 4px;
  border: 1px solid #7FE817
}

.info {
  height: 100px;
  background: #ccc;
  text-align: center;
  padding-top: 30px
}

.info p:first-child {
  font-weight: bold;
  font-size: 20px
}

.info p:nth-child(2) {
  color: #666
}

.row {
  width: 1000px;
  height: 600px;
  margin: 0 auto
}

.first-box {
  width: 33%;
  height: 500px;
  background: #666;
}

.second-box {
  width: 33%;
  height: 500px;
  background: #666;
  margin: 0 5px
}

.third-box {
  width: 33%;
  height: 500px;
  background: #666
}
